body{
background-color:#dddddd;
  text-align: center;
width: 100%;
}




concat{
  width: 544px;
  height: 408px;
  border: solid 2px #000;
}
button1{
  width: 100px;
  height: 100px;
}
#mainvisual{
  width: 100%;
  text-align: center;
}
#contents{
  width: 100%;
  text-align: center;
}
#eraser{
/*   text-align: right; */
  margin-right: 10px;
}
.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  justify-content: center;
  align-items: center;
  justify-content:space-around;
  border: 3px;
  border-color: #b7ffff;
  background-color: #E6BECD;
}
h1{
	padding-top: 3rem;
	padding-bottom: 3.5rem;

}
